.action-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: none;
  padding: .5em;
  opacity: 0;
  transition: opacity .3s;
  cursor: pointer;
  color: white;
}

.property:hover .action-button {
  opacity: 1;
}