.action-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: none;
  opacity: 0;
  transition: opacity .3s;
  cursor: pointer;
  color: white;
  font-size: 1.5em;
  height: 25%;
}

.property:hover .action-button {
  opacity: 1;
}